/* defaults */

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

li,
a {
    text-decoration: none;
}

/* defaults end */

/* navigation*/

.container {
    background: url(images/background.jpg);
    margin: auto;
}

header {
    padding-top: 50px;
}

h1 {
    font-family: "norman-stencil", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 78px;
    text-align: center;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

h1 a {
    transition: color 250ms;
    color: rgb(255, 255, 255);
}

h1 a:hover {
        color: rgb(175, 175, 175);
}

nav ul {
    text-align: center;
    line-height: 50px;
}

nav ul li a {
    font-family: "hoss-round", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 24px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

nav li {
    transition: transform 250ms;
}

nav li:hover {
    transform: scaleX(1.2) scaleY(1.2);
}

.tagline {
    display: none;
}

/*navigation end */

/* article cards */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #444444;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

.cards {
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    grid-column-gap: 5px;
    overflow-x: scroll;
    overflow-wrap: normal;
    position: relative;
    bottom: -50px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 214, 214);
    padding-bottom: 10px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    aspect-ratio: 1;
}

.card h3 {
    font-family: "norman-stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

.card time {
    display: block;
    font-family: "hoss-round", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #ffffff;
    font-size: 24px;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
    padding-top: 5px;
}

.mission {
    margin: auto 0 0 auto;
}

.card p {
    display: block;
    font-family: "hoss-round", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-bottom: 10px;
    color: white;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, .5);
}

.card p a {
    display: block;
    font-family: "norman-stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: white;
    text-align: right;
    transition: color 250ms;
}

.card p a:hover {
    color: rgb(175, 175, 175);
}

.post5 {
    background: url(images/post5.jpg);
    background-size: contain;
}

.post4 {
    background: url(images/post4.jpg);
    background-size: contain;
}

.post3 {
    background: url(images/post3.jpg);
    background-size: contain;
}

.post2 {
    background: url(images/post2.jpg);
    background-size: contain;
}

.post1 {
    background: url(images/post1.jpg);
    background-size: contain;
}

/* article cards end */

/* article */

    article {
        padding: 10px;
        padding-top: 50px;
        padding-bottom: 30px;
    }

    h2 {
        font-family: "norman-stencil", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding-top: 30px;
        text-align: center;
        font-size: 60px;
        color: #444444;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
    }

    .articledate {
        display: block;
        font-family: "hoss-round", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 10px;
        color: #444444;
        font-size: 20px;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, .25);    
    }

    article p {
        font-family: hoss-round, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: #444444;
        padding: 5px 40px;
        font-size: 18px;
        line-height: 2em;
    }

    aside {
        display: none;
        padding-top: 150px;
    }

    aside h3 {
        font-family: "norman-stencil", sans-serif;
        font-weight: 400;
        font-style: normal;
        padding-top: 20px;
        text-align: center;
        font-size: 40px;
        color: #444444;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
    }

    aside ul {
        text-align: center;
        padding-top: 10px;
    }

    aside ul li a {
        font-family: hoss-round, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #444444;
        padding: 5px 40px;
        font-size: 20px;
        line-height: 2em;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, .25);
        transition: color 250ms;
    }
    
    aside ul li a:hover {
        color: rgb(140, 140, 140);
    }

/* article end */

/* footer */

footer {
    background: url(images/footer.jpg);
    margin: auto;
}

footer p {
    font-family: "hoss-round", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
    font-size: 20px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    text-align: center;
    padding-bottom: 20px;
}

footer h1 {
    font-size: 60px;
    transition: color 250ms;
    text-align: center;
}

.footernav {
    display: none;
}

footer h1 a {
    color: white;
    transition: color 250ms;
}

footer h1 a:hover {
    color: rgb(175, 175, 175);
}

/* footer end */

/* media query 500px */

@media only screen and (min-width: 500px) {

    .cards {
        grid-auto-columns: calc(65%);
        grid-column-gap: 5px;
    }

    .card {
        transition: transform 250ms;
    }

    .card:hover {
        transform: scaleX(1.025) scaleY(1.025);
    }
}
/* media query 500px end */

@media only screen and (min-width: 800px) {
    .cards {
    grid-auto-columns: calc(calc(90% / 2) - 20px);
    grid-column-gap: 5px;
  }

  header {
      display: flex;
      justify-content: space-around;
  }

  h1 {
      text-align: left;
  }

  nav ul {
      display: flex;
      justify-content: space-evenly;
  }

  nav ul li {
      padding: 20px;
  }

  
  .footernav {
    display: flex;
    justify-content: space-around;
  }

  .footerlist {
    flex: 1;
    gap: 20px;
  }
}

@media only screen and (min-width: 1000px) {
    .cards {
        grid-auto-columns: calc(calc(120% / 4) - 20px);
        grid-column-gap: 5px;
    }
    
    .articleblock {
        display: flex;
        width: 90%;
        margin: auto;
    }

  article {
        flex: 4;
    }

  aside {
        display: block;
        flex: 2;
    }

}